.header
  left 0
  position sticky
  top 0
  transition background-color .4s $bezier
  width 100%
  z-index 100
  &__container
    align-items center
    border-bottom 1px solid rgba(#fff, .2)
    display flex
    justify-content space-between
    transition $transition2
  &__left
    align-items center
    display flex
  &__right
    align-items center
    display flex
    justify-content flex-end
  .logo
    flex-shrink 0
    max-width 20rem
    margin-right 2.4em


.nav
  display flex
  &__link
    margin-right 1.5em
    position relative
    transition $transition
    a
      color $main
      display flex
      font-size 1.6rem
      font-weight 500
      padding 2.4rem 0
      linkHover($primary)
      &:hover
        color $primary



@media(max-width 767px)
  .header
    &__container
      padding-bottom .8rem
      padding-top .8rem

@media(max-width 350px)
  .header
    .logo
      margin-right 1.6rem



